In [1]:
import numpy as np
import pandas as pd

In [2]:
my_list = [10,25,35]

In [3]:
x = np.array(my_list)

print(x)

[10 25 35]

In [4]:
x

array([10, 25, 35])

In [5]:
type(x)

numpy.ndarray

In [6]:
pd.Series(my_list)

0    10
1    25
2    35
dtype: int64

In [7]:
y = pd.Series(my_list)

In [8]:
type(y)

pandas.core.series.Series

In [15]:
index_values = ['Best','Second Best','Third Best']
my_list = [10,25,35]

one = pd.Series(data = my_list,index = index_values)
one

Best           10
Second Best    25
Third Best     35
dtype: int64

In [13]:
index_values2 = ['Best','Second Best','Forth Best']
my_list2 = [10,25,40]

two = pd.Series(data = my_list2,index = index_values2)

In [14]:
two

Best           10
Second Best    25
Forth Best     40
dtype: int64

In [16]:
total = one + two
total

Best           20.0
Forth Best      NaN
Second Best    50.0
Third Best      NaN
dtype: float64

In [18]:
total['Best']

20.0

In [21]:
dataframe = pd.DataFrame({'Series 1': one, 'Series 2': two})

In [22]:
print(dataframe)

             Series 1  Series 2
Best             10.0      10.0
Forth Best        NaN      40.0
Second Best      25.0      25.0
Third Best       35.0       NaN

In [23]:
dataframe

             Series 1  Series 2
Best             10.0      10.0
Forth Best        NaN      40.0
Second Best      25.0      25.0
Third Best       35.0       NaN

In [24]:
ice_cream = [['MCC',1],['Butterscotch', 2],['Butter Pecan',3]]

In [25]:
pd.DataFrame(ice_cream, index = ['Flavor 1','Flavor 2','Flavor 3'], columns = ('Flavor','Scoops'))

                Flavor  Scoops
Flavor 1           MCC       1
Flavor 2  Butterscotch       2
Flavor 3  Butter Pecan       3