In [1]:
import pandas as pd

index_values = ['Best','Second Best','Third Best']
my_list = [10,25,35]

one = pd.Series(data = my_list,index = index_values)
one

Best           10
Second Best    25
Third Best     35
dtype: int64

In [2]:
index_values2 = ['Best','Second Best','Forth Best']
my_list2 = [10,25,40]

two = pd.Series(data = my_list2,index = index_values2)
two

Best           10
Second Best    25
Forth Best     40
dtype: int64

In [3]:
dataframe = pd.DataFrame({'Series 1': one,'Series 2': two})

In [4]:
print(dataframe)

             Series 1  Series 2
Best             10.0      10.0
Forth Best        NaN      40.0
Second Best      25.0      25.0
Third Best       35.0       NaN

In [5]:
dataframe

             Series 1  Series 2
Best             10.0      10.0
Forth Best        NaN      40.0
Second Best      25.0      25.0
Third Best       35.0       NaN

In [8]:
ice_cream = [['MCC',1], ['Butterscoth',2],['Butter Pecan', 3]]

In [9]:
pd.DataFrame(ice_cream, index=['Flavor 1', 'Flavor 2', 'Flavor 3'], columns=['Flavor', 'Scoops'])

                Flavor  Scoops
Flavor 1           MCC       1
Flavor 2   Butterscoth       2
Flavor 3  Butter Pecan       3